/* Пиши стили тут */

.stars {
    display: flex;
    flex-direction: row;
}

.star {
    width: 25vh;
    height: 25vh;
    background-image: url("img/star-empty.png");
    background-size: cover;
    transition: background-image 0.3s;
}
